<?xml version="1.0" encoding="UTF-8" ?>

<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlnjs:gap  = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "10"
        version     = "1.0.0">

  <!-- versionCode is optional and Android only -->
  <name>Colosseum</name>

  <description>
    15-237 project
  </description>

  <author>
    Nathan Hamal, Zach Matarasso, Dylan Mikus
  </author>

  <preference name="orientation" value="both" />

  <!-- <content src="./static/index.html" /> -->

</widget>
