#spacer{
	padding-top: 20px;
	text-align:center;
	position: relative;
	line-height: 70px;
	height: 80px;
	font-size: 50px;
}

#message{
	display:inline-block;
	position: absolute;
	bottom: 0;
}
#createArena{
  display: inline-block; 
  position: relative;
  padding: 10px;
  text-align:center;
  font: 24px Helvetica, Arial;
  width: 600px;
  height: 335px;
}

#name-input{
	margin-top: 10px;
	position: absolute;
	left: 0;
	border-radius: 5px;
	z-index: 1;
}

#desc-input{
	margin-top:20px;
	display: block;
	position: absolute;
	left: 0;
	border-radius:5px;	
	width: 500px;
	height: 200px;
	z-index: 1;
	resize: none;
  font-family: inherit;
}

#fakeText{
margin:10px;
display: block;
position:absolute;
left: 0;
top: 0;
z-index: 0; 
width:500px;
height:320px;
}

#radioContainer{
	position: absolute;
	bottom: 0;
	width:500px;
}

#submitButton{
	position: absolute;
	right: 0;
}

.radio{
  display: inline-block;
  margin-left: 25px; 
  float:left;
  
}


