/* Style code will go here */


body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

#titlebar {
    background-color: #FF2C29;
}

#wrapper {
    background-color: white;
    position: relative;
    width:980px;
    margin-left: auto;
    margin-right:auto;
}

#competitors {
    background-color: teal;
    z-index: 3;
}

#game{
    position: absolute;
    top:10px;
    left: 10px;
}

#voting{
    position:absolute;
    top: 620px;
    left:10px;
    right: 370px;
    text-align: center;
}

#voting button{
    width: 45%;
    height: 100px;
    font-size: 30px;
    background-color: #FF635F;
}


h2 {
    text-align: center;
}

#spectators {
    background-color: #FF8C89;
    position: absolute;
    top: 10px;
    right: 0;
    z-index: 2;
    height: 590px;
    width: 350px;
    padding: 5px;
}

#spec_controls {
    position: absolute;
    bottom:5px;
    left: 5px;
    right:8px;
}

#chat{
    background-color: white;
    height: 530px;
    overflow: auto;
    margin:5px 0px 5px 0px;
}

#chat-form{
    width:100%;
}

#chat-input{
    width: 100%;
}

#loginPane {
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;

    padding: 5px;

    border-width: 2px;
    border-color: black;
    border-style:solid;
}

.row_items{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.row_items li {
    display: inline-block;
    padding: 5px;
    margin: 5px;
}

.room-link {
    color:blue;
    background-color: white;
    font-size: 24px;
}

#gameIFrame{
    width: 600px;
    height: 600px;
}