#chatlog {
  background: white;
}

body{
  background-color: grey;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
               "Helvetica Neue", Helvetica, Arial, "Lucida Grande",
               sans-serif;
}


#chat-input{
  display: none;
}

.player1{
  color: red;
}

.player2{
  color: blue;
}