#chatlog {
  background: white;
  margin: 10px;
  height: 300px;
}

body{
  background-color: grey;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
               "Helvetica Neue", Helvetica, Arial, "Lucida Grande",
               sans-serif;
}


#chat-input{
  display: none;
  width:80%;
  margin-left: 8%;
  margin-right: 8%;
}

.player1{
  color: red;
}

.player2{
  color: blue;
}