/* Style code will go here */

body {
    background-color: white;
    color: black;
}

h1, h2 {
    text-align: center;
    border-bottom-style: solid;
    border-bottom-width: medium;
    border-bottom-color: black;
    padding:10px;
    margin: 20px;
}

h1 {
    width: 400px;
    font-size: x-large;
}

h2 {
    width: 350px;
    font-size: large;
}

.bar {
    margin-left: 10px;
    margin-right: 10px;
    width: 30px;
    display: inline-block;
}

#barchart, #svgtest {
    margin: 20px;
}

#barchart {
    margin-bottom:50px;
}

#svgtest {
    width: 500px;
    height: 250px;
}
